body {
    background-color: rgb(50, 50, 50);
    font-family: "helvetica", serif;
    color: white;
}

#gridContainer {
    padding-bottom: 10px;
}

#patternDrawer {
    position: absolute;
    pointer-events: none;
}

#connected {
    width: 250px;
    border: 1px gray solid;
    margin: 2px;
    border-radius: 3px;
}

#connected p {
    text-align: center;
}

a:visited {
    color: #A74AC7;
}

a {
    color: #6297ff;
}

#bottomMessage {
    width: 500px;
    border-radius: 5px;
    border: 1px solid #bbb;
    text-align: center;
    margin: auto;
}

#game {
    width: 100%;
    margin: auto;
    text-align: center;
}

#controls {
    width: 250px;
    padding: 10px;
    float: right;
}

#chatbox {
    float: left;
    width: 300px;
    border: 1px white solid;
    height: 700px;
    border-radius: 3px;
    position: relative;
}

.messageinput {
    position: absolute;
    width: 99%;
    overflow-y: hidden;
    height: 20px;
}

.messageinput input::placeholder {
    font-style: italic;
}

#messageText {
    bottom: 26px;
    left: 0;
}

#usernameText {
    bottom: 0;
    left: 0;
}

h2 {
    margin-bottom: 0.3em;
    margin-top: 0.3em;
    font-size: 1em;
}

#messages {
    padding: 0;
    margin:0;
    position: absolute;
    bottom: 52px;
    width: 100%;
    max-height: 648px;
    overflow-y: scroll;
}

#messages li {
    list-style-type: none;
    border: 1px solid rgb(60, 60, 60);
    word-wrap: break-word;
    line-height: 25px;
    padding: 5px 5px 5px 10px;
    text-align: left;
    font-size: 1em;
}

#messages li:nth-child(even) {
    background-color: #383838;
}

.minimal {
    background: white;
    border: 1px solid #555;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 0 1px 1px #f6f6f6;
    box-shadow: inset 0 0 1px 1px #f6f6f6;
    color: #333;
    font: bold 14px/1 "helvetica neue", helvetica, arial, sans-serif;
    padding: 8px 0 9px;
    text-align: center;
    text-shadow: 0 1px 0 #fff;
    width: 250px;
    position: relative;
    margin: 2px;
}

.minimal:hover {
    background: #e9e9e9;
    -webkit-box-shadow: inset 0 0 1px 1px #eaeaea;
    box-shadow: inset 0 0 1px 1px #eaeaea;
    color: #222;
    cursor: pointer;
}

.minimal:active {
    background: #d0d0d0;
    -webkit-box-shadow: inset 0 0 1px 1px #e3e3e3;
    box-shadow: inset 0 0 1px 1px #e3e3e3;
    color: #000;
}
